@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Rubik", sans-serif;
  color: white;
}

body,html {
  width: 100%;
  height: 100%;
  background: black;
}

.guessImg {
  width: 100%;
  cursor: pointer;
  transition: ease 200ms;
}

.guessCont {
  width: 25%;
  text-align: center;
}

.guessImg:hover {
  border: 10px solid white;
}

#guessBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

#popup {
  background: red;
  transition: ease 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  align-items:center;
  justify-content: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
